<div class="card">
    <h2>Hog Predictive Pricing</h2>
    <p>Week 0 represents the current week</p>
    <p>Negative represents past weeks</p>
    <p>Positive represents future weeks</p>
    <h2><%= current_date %></h2>
    <!--
    <h2>Passions</h2>
        <p></p>
    -->
</div>